body{font-size:18px;font-family:'宋体','arial';
	color:#111;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/bg.gif);}
#header{color:#243758;
	height:50px;width:100%;
	margin-right:auto;
	margin-left:auto;
	background-image: url(../images/top-bg.png);
	margin-bottom: 0px;}
#top{height:30px;
	max-width:1188px;
	min-width:320px;margin-right:auto;
	margin-left:auto;
	padding-top: 10px;
	padding-bottom: 10px;}
#top .top-span{float:right;
	line-height:30px;
	color:#3D5989;
	font-size:14px;}
#top .top-span a{color:#FFF;
	padding-right:10px;
	padding-left:10p}
#main {  
    margin:0 auto;         
    margin-top: 10px;  
    width: 60%;  
    height: 60%;      
    background-image: url(../images/bgpage.jpg);  
  
}  
